<%= form_with(model: @article, local: true) do |form|  %>
<%# form_with es un metodo para construir un formulario ademas recibe un bloque de ruby (do end) %>
<%# lo que le mandemos en model es lo que va a llenar en los campos declarados mas abajo %>    
    <br><br>
    <div class="field">
        <%= form.label :title  %>
        <%= form.text_field :title  %>
        <%# desde text_field se toma la variable title y la manda al objeto articulo %>
    </div>
    <br><br>
    <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
        <%# Este es control de ActionText %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<%end %>