<%#  esta sintaxis es un Action View Form Helpers de Rails que nos permiten construir HTMl %>

<%= form_with(model: @article, local: true) do |form|  %>

<%# form_with es un metodo para construir un formulario ademas recibe un bloque de ruby (do end) %>
<%# lo que le mandemos en model es lo que va a llenar en los campos declarados mas abajo %>
    
    <br><br>

    <div>
        <%= form.label :title  %>
        <%# :title es la variable que viene desde model: %>
        <%# :title se toma desde la variable @article que guarda al objeto de la clase Article declarada en el modelo article.rb que a su vez esta conectado a la tabla articles de donde finalmente viene la columna title%>
        <%= form.text_field :title  %>
        <%# desde text_field se toma la variable title y la mandaa al objeto articulo %>
    </div>
    <br><br>
    <div>
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
        <%# Este es control de ActionText %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<%end %>